doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cakenation-About
    link(rel="stylesheet", href="/static/style.css")
  body#aboutpage
    nav#navbar
            ul
                li #[a(href="/") Home]
                li #[a(href="/about") About]
                li #[a(href="/order") Order Catalogue]
                li #[a(href="/classes") Cooking Classes Info]
                li #[a(href="/contact") Contact Us]
    section#heading
    div#abtcont
      h1.abt About us
      p.abt-p Welcome to CakeNation, where a passion for baking meets creativity, celebration, and education. At CakeNation, we believe that every occasion deserves a touch of sweetness, and every aspiring baker deserves the opportunity to learn and excel in the art of pastry.
      p.abt-p Our skilled bakers transform the finest ingredients into edible masterpieces that reflect your unique style and taste. From elegantly crafted tiered cakes for weddings to whimsical and imaginative birthday cakes, each creation is a work of art that tells a story. We take pride in the meticulous attention to detail that goes into every cake, ensuring a stunning centerpiece for your special moments.
      p.abt-p Beyond our passion for creating exquisite cakes, CakeNation is dedicated to nurturing the next generation of bakers. Our expert-led baking classes offer hands-on experience, from mastering the perfect pie crust to creating intricate decorations that will elevate your baked creations to a new level. Whether you're a novice or a seasoned baker, our classes provide a supportive environment where you can expand your skills and explore the wonderful world of baking.
      p.abt-p At CakeNation, we are driven by a commitment to quality, creativity, and community. We believe that baking is not just a culinary endeavor; it's an art form that brings people together and sparks joy. We infuse every cake and every class with the essence of this philosophy, ensuring that your experience with us is nothing short of delightful.
      p.abt-p Sincerely,
      p.abt-p The Cakenation Team
   
    footer#footer
            |@copyright | cakenation@gmail.com |All Rights Reserved

    script 
            include ../static/index.js
            include ../static/script.js
